<%- model_class = Customer -%>
<div class="container">
  <div class="widget">
    <div class="widget-header">
      <h3><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h3>
    </div>
    <%= render :partial => 'form' %>
  </div>
</div>
